.cd-date {
    font-size: medium;
}

#WhatIDo h3, #WhatIDo h4, #WhatIDo p{
    color: black;
}

#footerLinks .name {
    margin-left: 125px;
}

body {
    color: white;
}

.col-sm-2 {
    margin: 20px;
}

#Footer a {
    color: white;
}

.quote {
    font-size: 0.90em;
}

.jumbotron {
    text-align: center;
    background-size: cover;
    color: white;
    width: 100%;
    height: 100vh;
    background: linear-gradient(351deg, #FCB460 20%, #FF9AFB 50%, #9239FF 90%);
    margin: 0px;
}

#About video {
    width:100%;
    height:100%;
    object-fit:cover; /* Resize the video to cover parent, like a background-size:cover */
}

#About p a {
    color: white;
    text-decoration: underline;
}

#About p a:hover {
    background-color: #FF9AFB;
    text-decoration: underline;
}

#About {
    overflow:hidden;
    background: linear-gradient(351deg, #FCB460 20%, #FCB460 50%, #FCB460 90%);
}

#Contact {
    background: linear-gradient(351deg, #FCB460 5%, #FF9AFB 90%, #FF9AFB  90%);
}

#WhatIDo {
      background: linear-gradient(351deg, #FF9AFB 5%, #FF9AFB 5%, #FCB460 90%);
    color: white;
}

#Footer {
    background: #FCB460;
    color: white;
}
#About .fa, #Contact .fa{
    color: white;
}


.custom {
    height: auto;
    font-size: 25px;
    line-height: 35px;
}

#emailMsg {
    height: 45vh;

}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('../assets/bkgd.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

.custom-icon {
    font-size:45px;
    background:#666;
    background:rgba(0,0,0,0.4);
    padding:30px;
    -webkit-border-radius:1100%;
    -moz-border-radius:100%;
    -o-border-radius:100%;
    border-radius:100%;
    border:6px solid #fff;
    color:#fff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
    text-align:center;
    display:table-cell;
    vertical-align:middle;
    width:60px;
    height:60px;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    -o-transition:.5s;
    transition:.5s;
}

.custom-icon:hover {
    background:rgba(0,0,0,0.6);
}

#heart {
    color: white;
}

#emailForm button {
    width: 300px;
    height: 50px;
}

.navbar {
    font-family: 'Roboto', sans-serif;
}

.splash {
    font-family: 'Roboto', sans-serif;
    color: white;
    padding-top: 35vh;
}

.jumbotron .splash h1 {
    font-size: 6em;
}

.jumbotron .container p {
    color: white;
}

h1 {
    font-weight: bold;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 4em;
    padding-top: 50px;
    padding-bottom: 40px;
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
}



#portrait {
    border-radius:90%;
    overflow:hidden;
    max-width: 100%;
    height: 45vh;
    width: auto\9; /* ie8 */
}

.container p {
    font-size: 1.4em;
    color: white;
}

#resumeBtn {
    border-radius: 20px;
    font-size: 1.3em;
    background-color: transparent;
    border: 1px solid white;
}

.fa {
    margin-right: 10px;
}

#read {
    font-size: 1.20em;
    background-color: transparent;
    border: 1px solid white;
}

.btn-primary, .btn-primary:active {
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid white;
    font-size: 0.73em;
}

.btn-primary:hover {
    background: rgba(255,255,255,0.1);
    border: 1px solid white;
}


.clickable {
    text-align: center;
    background-color: transparent;
}

#About, #Contact {
    height: 100vh;
    padding-bottom: 100px;
}


img {
    image-orientation: from-image;
}

#pic {
    padding-bottom: 40px;
    -webkit-filter: opacity(.2);
    filter: opacity(.8);
}

textarea {
    resize: vertical;
}

.container {
    font-family: 'Roboto', sans-serif;
}


@media (max-width: 770px) {
    .cd-timeline-img .fa {
        display: none;
    }
    #bg, .divider {
        visibility: hidden;
    }

    .jumbotron {

        margin: 0px;
    }

    .btm{
        padding-top: 20px;
    }

    #WhatIDo {
        text-align: center;
    }

    #About h2, #WhatIDo h2, #Contact h2{
        font-size: 3.5em;
        text-align: center;
        padding-top: .5em;
        padding-bottom: .5em;
    }

    #WhatIDo p {
        font-size: 1.1em;
    }
    #pic {
        text-align: center;
    }

    #Footer {
        text-align: center;
    }

    #footerLinks .name {
        margin: 0px;
    }

    .wow{
        animation-name: none !important;
        visibility: visible !important;
    }

}